.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.content{
  margin-top: 15px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.life-cycle {
  background-color: white;
  width: 150px;
  border-radius: 13px;
  padding: 5px;
  margin: 5px;
}

.life-cycle button{
  border-radius: 13px;
}
